html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
  background-color: bisque;
  padding: 0;
  margin: 0;
  height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item_container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.item_tile {
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 2px black solid;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.item_tile img {
  max-width: 100px;
}

.menu_container {
  height: 100%;
}
.menu {
  background: rgb(252, 242, 230);
  color: white;
  position: absolute;
  height: 100%;
  width: 30px;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.1s ease-in;
  transition-delay: 0.3s;
}

.menu-item .fa {
  font-size: 19px;
  width: 20px;
  text-align: center;
}

.menu-item {
  line-height: 35px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu-item:hover {
  background: #4d294d;
}

.menu:hover {
  width: 200px;
}

.cart_container {
  padding-left: 50px;
}

.title {
  font-size: large;
  text-align: center;
  padding: 50px;
}

.cart_item {
  border: 0.5px;
  border-style: solid;
}

.link_home,
.each_item,
.comment {
  text-align: center;
  display: block;
}

.cart_button {
  display: block;
  margin: auto;
}
